*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* HEADER */
header{
    height: 280px;
    padding: 100px;
    color: #fff;
    background: #d62828;
}

h1{
    font-size: 55px;
    padding-bottom: 10px;
}


/* TOP-MAIN */
.top-main{
    display: flex;
    justify-content: center;
    padding: 30px;
}

input{
    width: 350px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

button{
    padding: 0 15px;
    border-radius: 10px;
    cursor: pointer;
}


/* BOTTOM-MAIN */
.bottom-main{
    max-width: 1170px;
    margin: auto;
    padding: 30px;
    background: #f1faee;
    border-radius: 10px;
}

li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 10px;
    border-bottom: 1px solid lightgray;
}

.bottom-main ul li span::first-letter{
    text-transform: uppercase;
}

a{
    color: #000;
}

/* MEDIAQUERY */

@media screen and (max-width: 1200px){
    main .bottom-main{
        max-width: 740px;
    }
}


@media screen and (max-width: 760px){
    main .bottom-main{
        max-width: 450px; 
    }
    header {
        height: 240px;
        padding: 75px;
    }
}

@media screen and (max-width: 450px){
    main .bottom-main{
        max-width: 320px;
    }
    header {
        height: 190px;
        padding: 45px;
    }
    h1{
        font-size: 40px;
        padding-bottom: 10px;
    }
    h2{
        font-size: 20px;
    }
}