<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <!-- HEADER -->
        <header>
            <h1>Todo App</h1>
            <h2>My Personal Todo List</h2>
        </header>

        <!-- MAIN -->
        <main>
            <div class="top-main">
                <input type="text" v-model="newTodo" @keyup.enter='addTodo' placeholder="Nuovo Todo">
                <button @click='addTodo'>Aggiungi</button>
            </div>

            <!-- BOOTOM-MAIN -->
            <div class="bottom-main">
                <ul>
                    <li v-for='li in list'>
                        {{ li }}
                        <a href="#">
                            <i class="fas fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    <!-- JS -->
    <script src="./js/main.js"></script>
</body>
</html>